
@media (max-width:599px) { 
    
    .main__section {
        display: grid;
        grid-template-columns: repeat(1, 0.01fr); /* CATALOGO PELICULAS */
        grid-template-rows: repeat(20, 0.01fr);
        justify-items: center;
        position: relative;
        
        &__h3 {
            margin-left: 0;
            justify-self: center;
            align-self: center;
            order: 2;
            font-size: 35px;
        }

        &__filtropeliculas {
            justify-content: center;
            justify-self: center;
            display: grid; /* CONTROL FILTRO PELICULAS */
            grid-template-columns:0.01fr 0.01fr 00.01fr;
            grid-template-rows: 1fr;
            position: relative;   
        }
    
        &__divh4 {   
            justify-self: end;     
            order: 1;
            padding: 0;
            align-self: center;

            &__listado {
                display: grid; /* CONTROL ORDEN LISTA DESPLEGABLE */
                grid-template-columns: 0.01fr;
                grid-template-rows: 24fr;     
                display: none;
                justify-self: center;             
                width: 280px;
                position: absolute;
                left: 0px;
                top: 70px;
                order: 4;
            }
        }
    
        &__div {
    
            &__div2 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 4fr; /* CONTROL CONTENINDO INFERIOR DE LAS TARJETAS */
                grid-template-rows: 1fr;    
            }
        }
    }    

}
    
    
    
     
     
    
    