@media (max-width:999px) {

.header {
    display: grid;
    grid-template-columns: 0.8fr 5fr 0.01fr;
    grid-template-rows: 0.7fr; /* CONTROL HEADER (LOGO + MENU) */
    align-items: center;
    

        &__div__logo {
            width: 100px;
            justify-self: center;
            margin-left: 25px;   
        }

        &__div__usuario {
            display: flex;
            gap: 10px;
            align-items: center;

            &__h5 {
                color: rgb(191, 193, 196);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 13px;   
            }


            &__icono {
                height: 18px;

                &--avatar {
                    height: 30px;
                }
            }
        }
    }

    .header__ul { 
  
        &__text {
            font-size: 10px;
            color: rgba(240, 248, 255, 0.829);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            transition: all 0.35s linear;
            text-decoration: none;
        }
     }

    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.85fr 5fr; /* DIVISOR: FILTRO PELICULAS + GALERIA PELICULAS */
    }


    .main__section {
        display: grid;
        grid-template-columns: repeat(3, 0.15fr); /* CATALOGO PELICULAS */
        grid-template-rows: repeat(4, 1fr);
        gap: 60px 5px;
        justify-content: center;

            &__filtropeliculas {
                justify-self: start;
                margin-bottom: 15px;
                display: grid; /* CONTROL FILTRO PELICULAS */
                grid-template-columns: 1fr;
                grid-template-rows: 0.5fr 0.01fr 1fr;
                flex-direction: column;
                gap: 0 20px;
                position: relative;
            }

            &__divh4 {
                padding-top: 20px;
                padding-left: 25px;

                
                &__listado {
                    position: absolute;
                    display: grid; /* CONTROL ORDEN LISTA DESPLEGABLE */
                    grid-template-columns: 1fr 1fr 2.6fr;
                    grid-template-rows: 1fr;
                    color: rgb(227, 228, 230);
                    width: 600px;
                    top: 102px;
                    left: 24px;
                    z-index: 3;
                    font-size: 15px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    background-color: rgba(0, 0, 0, 0.616);
                    gap: 5px 0;
                    border: 0.1px solid rgba(240, 248, 255, 0.103);
                    padding: 5px 5px 6px 6px;
                    display: none;
                }
            }
    }
     
}
    
