/* RESET */

*{	
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}

@media (min-width:320px) {

.body {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(8, 8, 8) 1%, rgb(56, 52, 52) 100%);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr 2fr 4fr 1fr; /* CONTROL: HEADER - MAIN - FOOTER */
    padding: 5 0px;
    max-width: 100wh;
    margin: 0 auto;
    padding: 5px 50px 0 50px;
  
}





.header {
    display: grid;
    grid-template-columns: 0.8fr 5fr 1.4fr;
    grid-template-rows: 0.7fr; /* CONTROL HEADER (LOGO + MENU) */
    align-items: center;
    

        &__div__logo {
            width: 100px;
            justify-self: center;
            margin-left: 60px;
            
            
        }

        &__div__usuario {
            display: flex;
            gap: 15px;
            align-items: center;

            &__h5 {
                color: rgb(191, 193, 196);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                
            }


            &__icono {
                height: 30px;

                &--avatar {
                    height: 40px;
                }
            }

            
        }
}

.header__ul {
    display: flex;
    gap: 15px;
    padding-left: 40px;
   
  

    &__text {
        font-size: 15px;
        color: rgba(240, 248, 255, 0.829);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: all 0.35s linear;
        
    }
    

}

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr; /* DIVISOR: FILTRO PELICULAS + GALERIA PELICULAS */


   }


.main__section {
    display: grid;
    grid-template-columns: repeat(5, 0.15fr); /* CATALOGO PELICULAS */
    grid-template-rows: repeat(4, 1fr);
    gap: 60px 5px;
    justify-content: center;

    &__filtropeliculas {
      
        margin-bottom: 15px;
        display: grid; /* CONTROL FILTRO PELICULAS */
        grid-template-columns: 1fr 0.5fr 5fr;
        grid-template-rows: 1fr;
        gap: 0 20px;

    }

    &__divh4 {
        padding-top: 20px;
        position: relative;
        

        &__listado {
            position: absolute;
            display: grid; /* CONTROL ORDEN LISTA DESPLEGABLE */
            grid-template-columns: 1fr 1fr 2.6fr;
            grid-template-rows: 1fr;
            color: rgb(227, 228, 230);
            width: 660px;
            left: 271px;
            top: 155px;
            z-index: 3;
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgba(0, 0, 0, 0.616);
            gap: 5px 0;
            border: 0.1px solid rgba(240, 248, 255, 0.103);
            padding: 5px 5px 6px 6px;
            display: none;
           
        
        

        }
         

    }

    &__div2h4 {
        color: aliceblue;
        border: 1px solid aliceblue;
        display: flex;
        gap: 15px;
        height: 25px;
        width: 90px;
        align-items: end;
        padding-bottom: 3px;
    

    }


    

    &__h3 {
        font-size: 50px;
        margin-left: 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: aliceblue;
        font-weight: 100;
        

    }

    &__h4 {
       
        justify-self: center;
        color: aliceblue;
        padding-left: 10px;
        font-size: 12px;
        

        &-img {
            width: 15px;
            padding-bottom: 3px;
            
        }
    }


    &__div {
        position: relative;
        width: 240px;
        height: 136px;
        border-radius: 1rem;
        
        
       
    
        
       


        &__img {
            position: relative;
            width: 240px;
            height: 135px;
            opacity: 100%;
            z-index: 1;
           
           
           
        
        }

        &__backcard {
            width: 245px;
            height: 220px;
            background-color: rgb(12, 11, 14);
            z-index: 2;
            position: absolute;
            top: -45px;
            transform: scale(0);
            pointer-events: none;
            transition: all 0.3s linear 0.7s;
            background-color:rgb(22, 21, 21) ;
            border-radius: 1rem;
          
 
      
              
            
      
            
        }
    
        &__div2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 4fr; /* CONTROL CONTENINDO INFERIOR DE LAS TARJETAS */
            grid-template-rows: 1fr;
            padding-left: 15px;
            padding-top: 5px;
            margin-bottom: 10px;
            gap: 5px;
            
            &__img-iconos {
                width: 25px;
            }

            &__img-iconos--despliegue {
                justify-self: end;
                width: 25px;
                margin-right: 15px;
            }

            &__img-iconos--descripcion {
               
                width: 170px;
               
            }
     
        }

       
    }


}


.header__ul__text:hover {
        color: rgba(201, 205, 207, 0.829);
    
  
  
}

#toggleCheckbox:checked + .main__section__divh4__listado {
    display: grid;


}

.main__section__div2h4:hover {
    background-color:rgb(37, 36, 36) ;

}

.main__section__div__img:hover + .main__section__div__backcard    {
    transform: scale(1.2);
    opacity: 100%;
    pointer-events: none;


}

.main__section__div__img:hover {

height: 179px;
transform: scale(1.16);
transition: all 0.2s linear 1s;





}

.main__section__div__img:not(hover) {

   height: 135px;
    }


.footer__listado {
    color: rgb(170, 174, 179);
    gap:   30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;

    &__texto {
        

    }
}


}

@media (max-width:600px) {


    
    .main__section {
        display: grid;
        grid-template-columns: repeat(1, 0.5fr); /* CATALOGO PELICULAS */
        grid-template-rows: repeat(10, 1fr);
        gap: 60px 5px;
        justify-items: center;

        &__div {
            width: 400px;
            height: 600px;
         

            &__img {
              
                width: 600px    ;
                height: 600px;
                

            }
        }

}
}




 
 

